* {
    box-sizing: border-box;
}

body {
    background-color: #232323;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-color: transparent;
    text-align: center;
    padding: 1rem 0;
}

.banner h1 {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

#colorDisplay {
    font-size: 2.5rem;
}

.menu {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list {
    width: 100%;
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0;
    display: flex;
}

.menu-list li {
    width: calc(100% / 3);
    text-align: center;
}

.menu-list .level {
    display: flex;
    justify-content: center;
}

.newColors, .message, .level span {
    padding: .4rem;
}

.animated {
    -webkit-animation: 1s tada;
    animation: 1s tada;
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    
    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.level span {
    display: inline-block;
}

.touched-newcolors {
    background-color: #808080;
    color: #fff;
}

.selected {
    background-color: #808080;
    color: #fff;
    cursor: default !important;
}

#container {
    max-width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem .5rem;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    margin-bottom: 5%;
    border-radius: 15%;
    transition-duration: .4s;
}

.touched-square {
    transform: scale(1.1);
}

.square.inactive {
    background-color: #232323 !important;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    #colorDisplay {
        font-size: 3.5rem;
    }

    .menu-list {
        max-width: 30rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .newColors:hover, .level span:hover {
        background-color: #808080;
        color: #fff;
        cursor: pointer;
    }

    .square.active:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}